*/venv/
Udacity/Software engineering/ProgrammingFoundationsWithPython/Lesson2/sms/access.txt
Udacity/Data science/IntroToMachineLearning/datasets/
Coursera/Electronics/FromNandToTetris/nand2tetris/tools
*/.idea/
Coursera/Computing/AI/MachineLearning/UW/01 - ml-foundations/week04/people_wiki.gl/
Coursera/Computing/AI/MachineLearning/UW/01 - ml-foundations/week05/song_data.gl/
Coursera/Computing/AI/MachineLearning/UW/01 - ml-foundations/week06/image_test_data/
Coursera/Computing/AI/MachineLearning/UW/01 - ml-foundations/week06/image_train_data/
Udacity/UD210/.vscode/
.vscode
.DS_Store