*/venv/
Udacity/Software engineering/ProgrammingFoundationsWithPython/Lesson2/sms/access.txt
Udacity/Data science/IntroToMachineLearning/datasets/
Coursera/Electronics/FromNandToTetris/nand2tetris/tools
*/.idea/